@charset "utf-8";
/* CSS Document */

.wrapper {
	margin-top: -5%;
	width: 900px;
	margin-left: 10%;
	height: 400px;
}
.login-form {
	width: 450px;
	margin: 0 auto;
	position: relative;
	z-index: 5;
}
.login-form .header {
	padding: 40px 30px 30px 30px;
}
.login-form .header h1 {
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	font-size: 28px;
	color: #9bd3b0;
	margin-bottom: 10px;
	margin-top: -5%;
}
.login-form .header span {
	font-size: 13px;
	color: #485F60;
	text-align: right;
}
.login-form .content {
	padding: 0 30px 25px 30px;
}
.login-form .content .input {
	width: 188px;
	padding: 15px 25px;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	color:#fff;
	font-size: 14px;
	background: #AFB1B3;
	border: 1px solid #fff;
	border-radius: 5px;
}

.login-form .content .input:hover {
	background: #9bd3b0;
}
.login-form .content .input:focus {
	background: #9bd3b0;
}
td.linea {
	border-right: #AFB1B3 solid 1px;
}
/* Login button */
input.btn {
	padding: 11px 25px;
	margin-left: 150px;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	background: #9bd3b0;
	border: none;
	border-radius: 5px;
}
input.btn:hover {
	background: #3D8959;
}
